body {
  font-family: "Raleway", sans-serif;
}

body,
html {
  height: 100%;
  margin: 0;
}
.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Estilos para las cartas y las imágenes de fondo */
.card {
  cursor: pointer;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
  width: 200px;
  height: 200px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.image-top,
.card-back {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  left: 0;
}

.card.flipped .image-top {
  display: block;
}

.card.flipped .card-back {
  display: none;
}

.card-back {
  background-image: url("back-a.png");
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para los contenedores .row y .col */
.row {
  display: flex;
  justify-content: center;
}

.col-4,
.col-sm-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para elementos de formulario de contacto (si los tienes) */
#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

/* Media queries para ajustar los elementos de formulario de contacto y la barra de navegación */
@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand {
    width: 100px;
  }

  /* Ajustes responsivos para las cartas */
  .card {
    width: 90px;
    height: 100px;
  }
}

/* Estilos para las imágenes del encabezado y pie de página */
#Acerca-de-mi img,
.footer img {
  width: 500px; /* o el tamaño que prefieras para pantallas grandes */
  height: auto;
}

@media (max-width: 768px) {
  #Acerca-de-mi img,
  .footer img {
    width: 80%; /* o cualquier otro tamaño que se ajuste mejor a pantallas pequeñas */
    margin: 0 auto; /* Centra la imagen */
  }
}

.footer img {
  max-width: 100%; /* Hace que la imagen no sea más ancha que su contenedor */
  height: auto; /* Mantiene la relación de aspecto */
}

a {
  text-decoration: none;
  text-align: center;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  display: flex;
  align-items: center; /* Align vertical */
  justify-content: center; /* Align horizontal */
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 450px; /* Adjust as per your requirement */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px; /* Optional: for rounded corners */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#play-again-button {
  background-color: #de3310;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#start-game-button {
  background-color: #de3310;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#start-game-text {
  font-size: 24px; /* Ajusta el tamaño del texto */
  text-align: center; /* Asegura que el texto esté centrado */
  margin: 20px 0; /* Añade algo de margen arriba y abajo para separarlo de otros elementos */
}

#endgame-message {
  font-size: 24px; /* Ajusta el tamaño del texto */
  text-align: center; /* Asegura que el texto esté centrado */
  margin: 20px 0; /* Añade algo de margen arriba y abajo para separarlo de otros elementos */
}

#game-status {
  font-size: 24px; /* Ajusta esto al tamaño que desees */
}

#game-status .countdown-number {
  font-weight: bold; /* Esto hace que el número sea más grueso */
  font-size: 30px;
  color: #de3310; /* Hace que el número sea más grande que el resto del texto */
}

#game-status,
#endgame-message {
  font-size: 24px; /* Ajusta según sea necesario para pantallas grandes */
  text-align: center;
}

.countdown-number {
  font-weight: bold;
  font-size: 30px; /* Ajusta según sea necesario para pantallas grandes */
}
@media (max-width: 768px) {
  #game-status,
  #endgame-message {
    font-size: 18px; /* Reduce el tamaño del texto para pantallas pequeñas */
  }

  .countdown-number {
    font-size: 22px; /* Ajusta el tamaño del número para que aún destaque, pero sea adecuado para pantallas pequeñas */
  }
}
